.wsection2{
    padding-top: 50px;
    color:black;
    height:450px;
    background-color: white;
    display: flex;
    justify-content: center;
    color:rgb(77, 77, 77);
    .st2-l{
        padding-right: 20px;
      width:300px;
    //   padding-top: 40px;
      .title{
        font-weight: bold;
        font-size: 26px;
      }
      .tag{
        display:flex;
        .web{
            padding-right: 30px;
        }
      }
      .content{
        font-size: 15px;
      }
      button{
        padding:15px 15px;
        border:none;
        background-color: #c7aa8b;
        color:white;
        font-weight: bold;
      }
      button:hover{
        border:2px solid #c7aa8b;
        background-color: white;
        color: #c7aa8b;
      }
    }
    .st2-r{
        img{
           height:400px;
           width:600px;
        }
    }
}