.app{
 /* margin-top:-60px; */
  
  /* margin-top: -5px; */
  /* height:2000px; */
  /* margin-bottom: 30px; */
  background-color: #f5a510;
  color:white;
  font-size: 18px;
  /* padding-top: 5px; */
  /* border-bottom: 2px solid #4d4d4d; */
  /* font-family: 'Roboto Condensed', sans-serif; */
}
ul{
   border-bottom: 2px solid #4d4d4d;
  position: fixed;
background-color: #323232;
  display:grid;
  grid-template-columns: repeat(40,1fr);
 height:45px;
 margin-top:-60px;
 padding-top: 15px;
 padding-bottom: -5px;
}
ul>li:nth-child(1){
  grid-column: 12;
}
ul>li:nth-child(2){
  grid-column: 14;
}
ul>li:nth-child(3){
  grid-column: 16;
}
ul>li:nth-child(4){
  grid-column: 18;
}
ul>li:nth-child(5){
  grid-column: 28;
}
li{
  /* padding-right:40px; */
  list-style: none;
  /* border-right: 1px solid #ccc; */
  height:100%;
}
a{
  text-decoration: none;
  color:white;
}
.nav{
  /* padding: 20px 30px; */
  padding-left: 10px;
  padding-right: 45px;
  
  border-right: 2px solid #4d4d4d;
}
.nan{
  display:flex;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 45px;
  font-size: 21px;
  border-right: 2px solid #4d4d4d;
}
.nan img{
  height:30px;
  margin-right: -39px;
}
.nav:hover{
  
  color: #f5a510;
  padding-left: 10px;
  padding-right: 45px;
}
img{
  padding-left: 40px;
  padding-right: 45px;
  height:20px;
  width:20px;

}
.nav-1{
  padding-left: 45px;
  padding-right: 45px;
  border-right: 2px solid #4d4d4d;
  border-left: 2px solid #4d4d4d;
}
.nav-2{
  border-right: 2px solid #4d4d4d;
}